<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Crypto Watcher</title>
  </head>
  <body class="bg-[#1B2021] text-[#FFFEFF] font-['Inter'] w-screen h-auto">
    <div class="w-full md:w-4/5 h-full flex items-center mx-auto">
      <main class="w-full h-full flex flex-col items-center p-3">
        <h1 class="text-2xl font-">Crypto watcher</h1>
        <p class="text-center mt-2">
          A microservice to get the latest information about cryptocurrencies
        </p>
        <section
          class="flex flex-col w-full h-auto items-center text-justify mt-4"
        >
          <p class="mb-3">
            <span id="host"></span>/api/crypto/<span id="coin"></span>
          </p>
          <div
            class="w-full md:w-2/3 h-72 p-2 md:p-4 overflow-auto"
            id="response"
          ></div>
        </section>
        <section class="mt-4 w-full h-auto flex flex-col p-4 gap-2">
          <p>Available endpoints:</p>
          <ul>
            <li>
              /crypto/:coin <span class="text-red-700"><strong>*</strong></span>
            </li>
            <li>/coins</li>
            <li>
              /top50 <span class="text-red-700"><strong>*</strong></span>
            </li>
          </ul>
          <p>
            <span class="text-red-700"><strong>*</strong></span
            >Available querys:
          </p>
          <ul>
            <li>?force= Bool</li>
            <li>?from= Date</li>
            <li>?to= Date</li>
          </ul>
        </section>
        <footer>
          <nav>
            <a href="https://github.com/BloodBoy21/cryptoWatcher"
              ><img width="30px" src="images/github.svg" alt="Github"
            /></a>
          </nav>
        </footer>
      </main>
    </div>
    <script src="js/getCryptos.js"></script>
  </body>
</html>
